---
import "@sakun/system.css/style.css";
import "../styles/global.css";
---

<aside class="window sidebar" transition:persist>
  <div class="title-bar">
    <h1 class="title">Joey Meere</h1>
  </div>
  <div class="separator"></div>
  <div class="window-pane no-scrollbar">
    <ul class="menu-items">
      <li>
        <a href="/">About Me</a>
        <ul>
          <li><a href="/#joey">Overview</a></li>
          <li><a href="/#endeavors">Projects</a></li>
          <li><a href="/#recent">Recent Posts</a></li>
          <li><a href="/#skills">Skills</a></li>
        </ul>
      </li>
      <li>
        <a href="/projects">Projects</a>
        <ul>
          <li><a href="https://zircon.wtf">Zircon</a></li>
          <li><a href="https://stockpile.so">Stockpile</a></li>
        </ul>
      </li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</aside>
