---
import "@sakun/system.css/style.css";
import "../styles/global.css";
---

<aside class="window sidebar" transition:persist>
  <div class="title-bar">
    <button aria-label="Close" class="close"></button>
    <h1 class="title">Joey Meere</h1>
    <button aria-label="Resize" class="resize"></button>
  </div>
  <div class="separator"></div>
  <div class="window-pane no-scrollbar">
    <ul class="menu-items">
      <li>
        <a href="/">About Me</a>
        <ul>
          <li><a href="/#joey">Overview</a></li>
          <li><a href="/#endeavors">Endeavors</a></li>
          <li><a href="/#recent">Recent Posts</a></li>
          <li><a href="/#skills">Skills</a></li>
        </ul>
      </li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Writings</a></li>
    </ul>
  </div>
</aside>
