---
import "@sakun/system.css/style.css";
import Asteroids from "./Asteroids.astro";

const endeavors = [
  {
    title: "Stockpile",
    website: "https://stockpile.pro",
    github: "https://github.com/StockpileProtocol",
    image: "StockpileFinal.png",
  },
];
---

<div style="margin-top: 25px;">
  <div style="display: flex; gap: 10px; align-items: center;">
    <svg
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      style="width: 32px;"
    >
      <path
        d="M5 2h2v12h3v3h7v-7h-3V2h8v8h-3v9h-9v3H2v-8h3V2zm15 6V4h-4v4h4zM8 19v-3H4v4h4v-1z"
        fill="currentColor"></path>
    </svg>
    <h2 id="endeavors">Projects</h2>
  </div>
  <div style="display: flex; max-width: 100%;">
    <div class="window">
      <div class="title-bar">
        <button aria-label="Close" class="close"></button>
        <h1 class="title">
          Zircon<h1>
            <button aria-label="Resize" class="resize"></button>
          </h1>
          <div class="details-bar">
            <span><a href="">website</a></span>
            <span
              ><a href="https://github.com/arrangedev/zircon-v2">github</a
              ></span
            >
          </div>
          <div class="separator"></div>
          <img
            src="zirconendeavor.png"
            style="display: block; margin-right: auto; margin-left: auto; height: 150px;"
          />
          <div class="window-pane center no-scrollbar">
            Challenges and guided courses for Solana developers.
          </div>
        </h1>
        <div class="window" style="column-span: none">
          <div class="title-bar">
            <button aria-label="Close" class="close"></button>
            <h1 class="title">
              Stockpile<h1>
                <Asteroids id="dialog">
                  <main slot="main" class="window" style="column-span: none">
                    <div class="title-bar">
                      <h1 class="title">Asteroids</h1>
                    </div>
                    <div id="asteroids"></div>
                    <script
                      src="/src/extras/asteroids.js"
                      type="text/javascript"></script>
                  </main>
                  <button
                    aria-label="Close"
                    class="close"
                    slot="close"
                    style="position: absolute; top: 0; right: 0;"></button>
                </Asteroids>
              </h1>
              <div class="details-bar">
                <span><a href="https://stockpile.so">website</a></span>
                <span
                  ><a href="https://github.com/StockpileLabs">github</a></span
                >
              </div>
              <div class="separator"></div>
              <img
                src="stockpileendeavor.png"
                style="display: block; margin-right: auto; margin-left: auto; height: 150px;"
              />
              <div class="window-pane center no-scrollbar">
                Community driven funding, powered by Solana.
              </div>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
