---
import "@sakun/system.css/style.css";

const endeavors = [
    {
        title: 'Stockpile',
        website: 'https://stockpile.pro',
        github: 'https://github.com/StockpileProtocol',
        image: 'StockpileFinal.png',
    }
]
---

<div>
				<h2 id="endeavors">Endeavors</h2>
				<div style="display: flex">
					<div class="window">
						<div class="title-bar">
							<button aria-label="Close" class="close"></button>
							<h1 class="title">Stockpile<h1>
							<button aria-label="Resize" class="resize"></button>
						</div>
						<div class="details-bar">
							<span><a href="https://stockpile.pro">website</a></span>
							<span><a href="https://github.com/StockpileProtocol">github</a></span>
						</div>
						<div class="separator"></div>
						<img src="StockpileFinal.png" style="display: block; margin-right: auto; margin-left: auto;" />
						<div class="window-pane center">
							Lightning fast community derived funding, powered by Solana. 
						</div>
					</div>
				</div>
			</div>